<section class="py-3 mb-3 bg-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <a [routerLink]="'/usuario'" class="btn text-white" style="background-color: #8DD072" data-toggle="modal" data-target="#crearUsuario">
					Crear Usuario
				</a>
            </div>
        </div>
    </div>
</section>

<div id="crearUsuario" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-light text-success">
                <div class="container text-center">
                    <h1>Crear Usuario</h1>
                    <form id="">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" [(ngModel)]="usuario.nombre" class=" form-control " name="nombre " placeholder="Ingresa tu nombre " required data-error="Por favor ingresa el nombre ">
                                </div>
                            </div>
                            <div class="col-md-12 ">
                                <div class="form-group ">
                                    <input type="text " class="form-control" [(ngModel)]="usuario.celular" name="celular " placeholder="Ingresa tu celular " required data-error="Por favor ingresa el celular ">
                                </div>
                            </div>
                            <div class="col-md-12 ">
                                <div class="form-group ">
                                    <input type="text" class="form-control" [(ngModel)]="usuario.correo" name="correo" placeholder=" Ingresa tu correo " data-error="Por favor ingresa el correo ">
                                </div>
                            </div>
                            <div class="col-md-12 ">
                                <div class="form-group ">
                                    <input type="text " class="form-control " [(ngModel)]="usuario.direccion " name="direccion " placeholder="Ingresa tu dirección " data-error="Por favor ingresa la dirección ">
                                </div>
                            </div>

                            <div class="col-md-12 ">
                                <div class="form-group ">
                                    <select class="custom-select d-block form-control " name="rol" [(ngModel)]="usuario.rol.id" required data-error="Ingresa el usuario al cual pertenece esta mascota ">
									  <option *ngFor="let rol of roles "  [value]="rol.id ">{{rol.nombre}}</option>
									 </select>
                                </div>
                            </div>

                            <div class="col-md-12 ">
                                <div class="submit-button text-center ">
                                    <button class="btn btn-common " (click)="Guardar()" type="submit ">Guardar</button>
                                    <div id=" " class="h3 text-center hidden "></div>
                                    <div class="clearfix "></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>