
<div id="modificarUsuario" class="modal fade">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header bg-light text-success">
				<div class="container text-center">
					<h1>Modificar usuario</h1>
					<form action="" method="get">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<input type="text" class="form-control" id="usuario.cedula" name="usuario.cedula" placeholder="Cédula" required data-error="Ingresa el numero de cédula">
									<div class="help-block with-errors"></div>
								</div>                                 
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input type="text" class="form-control" id="usuario.nombre" name="usuario.nombre" placeholder="Nombre completo" required data-error="Ingresa el nombre">
									<div class="help-block with-errors"></div>
								</div>                                 
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input type="text" class="form-control" id="usuario.usuario" name="usuario.usuario" placeholder="Usuario" required data-error="Ingresa el usuario">
									<div class="help-block with-errors"></div>
								</div>                                 
							</div>
							<div class="col-md-3"></div>
							<div class="col-md-3">
								<div class="submit-button text-center">
									<button class="btn btn-success" id="guardar" name="guardar" type="submit">
										Guardar
									</button>
								</div>
							</div>
							<div class="col-md-3">
								<div class="submit-button text-center">
									<button class="btn btn-danger" id="borrar" name="borrar" type="submit">
										Borrar
									</button>
								</div>
							</div>
							<div class="col-md-3"></div>
						</div>            
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
