<!-- Start header -->
<header class="top-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="">
                <img src="../../assets/images/logo.png" alt="" style="width: 20%; height: 20%;" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbars-rs-food">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" [routerLink]="'/app'" routerLinkActive="router-link-active">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" [routerLink]="'/about'" routerLinkActive="router-link-active">Nosotros</a></li>
                    <li class="nav-item"><a class="nav-link" [routerLink]="'/service'" routerLinkActive="router-link-active">Servicios</a></li>
                    <li class="nav-item"><a class="nav-link" [routerLink]="'/gallery'" routerLinkActive="router-link-active">Galeria</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="# " id="dropdown-a" data-toggle="dropdown">Módulos</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown-a">
                            <a class="dropdown-item" [routerLink]="'/usuario'" routerLinkActive="router-link-active">Usuarios</a>
                            <a class="dropdown-item" [routerLink]="'/mascota'" routerLinkActive="router-link-active">Mascotas</a>
                            <a class="dropdown-item" [routerLink]="'/citas'" routerLinkActive="router-link-active">Citas</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" [routerLink]="'/contact'" routerLinkActive="router-link-active">Contáctanos</a></li>


                    <li class="nav-item"><a class="nav-link" [routerLink]="'/iniciosesion'" routerLinkActive="router-link-active">Inicio Sesión</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- End header -->