<!-- Start header -->
<header class="top-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="">
                <img src="../../assets/images/logo2.svg" alt="" style="width: 70%; height: 70%;" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbars-rs-food">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="'/app'" routerLinkActive="router-link-active">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" [routerLink]="'/about'" routerLinkActive="router-link-active" *ngIf="idUsuario === null">Nosotros</a></li>
                    <li class="nav-item"><a class="nav-link" [routerLink]="'/service'" routerLinkActive="router-link-active" *ngIf="idUsuario === null">Servicios</a></li>
                    <li class="nav-item"><a class="nav-link" [routerLink]="'/gallery'" routerLinkActive="router-link-active" *ngIf="idUsuario === null"> Galeria</a></li>
                    <li class="nav-item"><a class="nav-link" [routerLink]="'/usuario'" routerLinkActive="router-link-active" *ngIf="idUsuario !== null && rol === 'Administrador'"> Usuarios</a></li>
                    <li class="nav-item"><a class="nav-link" [routerLink]=" '/mascota'" routerLinkActive="router-link-active" *ngIf="idUsuario !== null && rol === 'Administrador'"> Mascotas</a></li>
                    <li class="nav-item"><a class="nav-link" [routerLink]=" '/citas'" routerLinkActive="router-link-active" *ngIf="idUsuario !== null"> Citas</a></li>
                    <li class="nav-item"><a class="nav-link" [routerLink]="'/contact'" routerLinkActive="router-link-active" *ngIf="idUsuario === null">Contáctanos</a></li>


                    <li class="nav-item"><a class="nav-link" [routerLink]="'/iniciosesion'" routerLinkActive="router-link-active" *ngIf="idUsuario === null">Inicio Sesión</a></li>
                    <li class="nav-item"><a class="nav-link" *ngIf="idUsuario !== null" (click)="Cerrar()">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- End header -->