<app-header> </app-header>

<body>
    <!-- Start header -->
    <div class="all-page-title page-breadcrumb">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Acerca de Nosotros</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- End header -->

    <!-- Start About -->
    <div class="about-section-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <img src="../../assets/images/about-img2.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="inner-column">
                        <h1>Bienvenidos a<span> PetService</span></h1>
                        <h4>Pequeña historia</h4>
                        <p>Somos una veterinaria que promulga por el cuidado correcto de nuestros pequeños amigos, bueno muchas veces no tanto....... </p>
                        <p>Nos gusta que nuestros pacientes puedan disfrutar su estadía con nosotros, que se sientan como en casa y que puedan tener la mejor atención posible.</p>
                        <a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Agenda tu cita</a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="inner-column">
                        <br>
                        <br>
                        <h1>Nuestra<span> Misión:</span></h1>
                        <p> Generar un ambiente lo más parecido posible a la casa de nuestros pacientes y brindar el mejor servicio gracias al trabajo de nuestros especialistas.</p>
                        <h1>Nuestra<span> Visión:</span></h1>
                        <p> Poder seguir generando un servicio que sea reconocido como de calidad por las personas que buscan nuestros servicios y así poder seguir nuestro camino en busca de la excelencía.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About -->

    <!-- Start Staff -->
    <div class="customer-reviews-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading-title text-center">
                        <h2>Staff</h2>
                        <p>Conoce al personal que va a cuidar de tus amigos</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto text-center">
                    <div id="reviews" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner mt-4">
                            <div class="carousel-item text-center active">
                                <div class="img-box p-1 border rounded-circle m-auto">
                                    <img class="d-block w-100 rounded-circle" style="width: 50px; height: 125px;" src="../assets/images/profile-2.jpg" alt="">
                                </div>
                                <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Jairo Tabares</strong></h5>
                                <h6 class="text-dark m-0">Médico Veterinario</h6>
                                <p class="m-0 pt-3">tiene un diplomado en fauna silvestre y ha estado en la selva rescatando pumas. Lo que mas le gusta es leer, jugar videojuegos, ver una buena película y jugar con su perro. Le encanta ver felices a sus clientes.</p>
                            </div>
                            <div class="carousel-item text-center">
                                <div class="img-box p-1 border rounded-circle m-auto">
                                    <img class="d-block w-100 rounded-circle" style="width: 50px; height: 125px;" src="../assets/images/profile-4.jpg" alt="">
                                </div>
                                <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Brahyan Galván</strong></h5>
                                <h6 class="text-dark m-0">Zoologo</h6>
                                <p class="m-0 pt-3">Tiene un diplomado en fauna abismal y su lugar ideal son las fosas de las marianas. Su hobby es poder ir de pesca y tiene un escuela de adiestramiento canina. Le gustan mucho los felinos, especialmente los gatos.</p>
                            </div>
                            <div class="carousel-item text-center">
                                <div class="img-box p-1 border rounded-circle m-auto">
                                    <img class="d-block w-100 rounded-circle" style="width: 50px; height: 125px;" src="../assets/images/profile-8.jpg" alt="">
                                </div>
                                <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Andrés Diaz</strong></h5>
                                <h6 class="text-dark m-0">Biólogo</h6>
                                <p class="m-0 pt-3">Es doctor en biología marina, lo suyo son los animales de granja. Le gusta mucho hacer cursoos en la universidad y poder aprender más sobre su área. Su hobby son los bootcamps y los caballos.</p>
                            </div>
                            <div class="carousel-item text-center">
                                <div class="img-box p-1 border rounded-circle m-auto">
                                    <img class="d-block w-100 rounded-circle" style="width: 50px; height: 125px;" src="../assets/images/profile-9.jpg" alt="">
                                </div>
                                <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Giovanni Castañeda</strong></h5>
                                <h6 class="text-dark m-0">Médico Veterinario</h6>
                                <p class="m-0 pt-3">Tiene una maestría en ingeniería agropecuaria, le encantan los ríos. Le gusta mucho el deporte, especialmente el fútbol y el ciclismo. Su pasión es la horticultura y la jardinería.</p>
                            </div>
                            <div class="carousel-item text-center">
                                <div class="img-box p-1 border rounded-circle m-auto">
                                    <img class="d-block w-100 rounded-circle" style="width: 50px; height: 125px;" src="../assets/images/profile-10.jpg" alt="">
                                </div>
                                <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Fernando Flores</strong></h5>
                                <h6 class="text-dark m-0">Zoologo</h6>
                                <p class="m-0 pt-3">Especialista en burros y borricos, le gusta la cumbia y el baile. Se identifica con el doctor DoLittle y por eso le gusta tanto su profesión. En su tiempo libre se dedica a sus cuatro gatos.</p>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#reviews" role="button" data-slide="prev">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#reviews" role="button" data-slide="next">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Staff -->

    <a [routerLink]="'/about'" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>
</body>