<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <table class="table table-striped" style="text-align: center;">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Celular</th>
                        <th>Correo</th>
                        <th>Dirección</th>
                        <th>Rol</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of Usuarios">
                        <td>{{usuario.id}}</td>
                        <td>{{usuario.nombre}}</td>
                        <td>{{usuario.celular}}</td>
                        <td>{{usuario.correo}}</td>
                        <td>{{usuario.direccion}}</td>
                        <td>{{usuario.rol.nombre}}</td>
                        <td>
                            <button (click) = "ListarPorId(usuario.id)" [routerLink]="'/usuario'" data-toggle="modal" data-target="#modificarUsuario">
                                <img src="../../../assets/images/editar.png">
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>