<section class="py-3 mb-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <a [routerLink]="'/citas'" class="btn text-white" style="background-color: #8DD072" data-toggle="modal" data-target="#agendarCitas">
                   Agendar Citas
                </a>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <table class="table table-striped" style="text-align: center;">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Comentario</th>
                        <th>Mascota</th>
                        <th>Tipo de servicio</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cita of citas">
                        <td>{{cita.id}}</td>
                        <td>{{cita.fecha}}</td>
                        <td>{{cita.hora}}</td>
                        <td>{{cita.comentario}}</td>
                        <td>{{cita.mascota.nombre}}</td>
                        <td>{{cita.servicio.nombre}}</td>
                        <td>{{cita.estado.nombre}}</td>
                        <td>
                            <a class="btn" [routerLink]="'/citas'" data-toggle="modal" data-target="#modificarCitas">
                                <img src="../../../assets/images/editar.png">
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>