<app-header> </app-header>
<meta charset="utf-8">

<section class="py-3 mb-3 bg-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <a [routerLink]="'/iniciorecuperar'" class="btn text-white" style="background-color: #8DD072" data-toggle="modal" data-target="#iniciorecuperar">
                    Olvidé mi contraseña
                </a>
            </div>
        </div>
    </div>
</section>


<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header bg-light text-success">
            <div class="container text-center">
                <h1>Recuperar contrase&ntilde;a</h1>
                <form id="">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" [(ngModel)]="correo.correo" class="form-control" id="correo" name="correo" placeholder="Ingresa tu correo electrónico" required data-error="Por favor ingresa el correo electr&otilde;nico">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="submit-button text-center">
                                <button class="btn btn-common" id="" type="submit" (click)="Recuperar()">Recuperar contraseña</button>
                                <div id="" class="h3 text-center hidden"></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>