<app-header> </app-header>

<body>
    <!-- Start header -->
    <div class="all-page-title page-breadcrumb">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Servicios</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- End header -->

    <!-- Start Menu -->
    <div class="menu-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading-title text-center">
                        <h2>Servicios</h2>
                        <p>Los siguientes son los servicios con los que cuenta la veterinaria:</p>
                    </div>
                </div>
            </div>

            <div class="row special-list">
                <div class="col-lg-4 col-md-6 special-grid drinks">
                    <div class="gallery-single fix">
                        <img src="../assets/images/img-01.svg" style="width: 800px;height: 210px;align-content: center;" class="img-fluid" alt="Image">
                        <div class="why-text">
                            <h4>Consulta Médica</h4>
                            <p>Contamos con médicos capacitados y de confianza</p>
                            <h2>Se genera historial</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 special-grid drinks">
                    <div class="gallery-single fix">
                        <img src="../assets/images/img-02.svg" style="width: 800px;height: 210px;align-content: center;" class="img-fluid" alt="Image">
                        <div class="why-text">
                            <h4>Cirugía Básica</h4>
                            <p>Procedimientos básicos y avanzados</p>
                            <h2>Se tienen salas especiales para tal fin</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 special-grid drinks">
                    <div class="gallery-single fix">
                        <img src="../assets/images/img-03.svg" style="width: 800px;height: 210px;align-content: center;" class="img-fluid" alt="Image">
                        <div class="why-text">
                            <h4>Hospitalización</h4>
                            <p>Contamos con lo necesario para la recuperación de tu amigo</p>
                            <h2> Estará en un ambiente seguro y tranquilo</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 special-grid lunch">
                    <div class="gallery-single fix">
                        <img src="../assets/images/img-04.svg" style="width: 800px;height: 210px;align-content: center;" class="img-fluid" alt="Image">
                        <div class="why-text">
                            <h4>Radiología</h4>
                            <p>Tenemos equipos de radiología digital</p>
                            <h2>Imágenes de calidad y precisas</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 special-grid lunch">
                    <div class="gallery-single fix">
                        <img src="../assets/images/img-05.svg" style="width: 800px;height: 210px;align-content: center;" class="img-fluid" alt="Image">
                        <div class="why-text">
                            <h4>Laboratorio Clínico</h4>
                            <p>Contamos con equipo de última generación</p>
                            <h2>Se generan resultados de manera rápida</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 special-grid lunch">
                    <div class="gallery-single fix">
                        <img src="../assets/images/img-06.svg" style="width: 800px;height: 210px;align-content: center;" class="img-fluid" alt="Image">
                        <div class="why-text">
                            <h4>Ecografía</h4>
                            <p>Equipo digital que compolementa los resultados</p>
                            <h2>Mejor prevenir que lamentar</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 special-grid dinner">
                    <div class="gallery-single fix">
                        <img src="../assets/images/img-07.svg" style="width: 800px;height: 210px;align-content: center;" class="img-fluid" alt="Image">
                        <div class="why-text">
                            <h4>Consulta Especializada</h4>
                            <p>Nuestro equipo garantiza un diagnóstico efectivo</p>
                            <h2>Se garantiza la salud de tu amigo</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 special-grid dinner">
                    <div class="gallery-single fix">
                        <img src="../assets/images/img-08.svg" style="width: 800px;height: 210px;align-content: center;" class="img-fluid" alt="Image">
                        <div class="why-text">
                            <h4>Procedimientos Menores</h4>
                            <p>Como profilaxis, tratamiento de heridas, oftalmología</p>
                            <h2>Sin olvidar la parte digestiva, urinaria y la piel</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 special-grid dinner">
                    <div class="gallery-single fix">
                        <img src="../assets/images/img-09.svg" style="width: 800px;height: 210px;align-content: center;" class="img-fluid" alt="Image">
                        <div class="why-text">
                            <h4>Vacunación</h4>
                            <p>Ofrecemos un adecuado protocolo de vacunacicón</p>
                            <h2>Protección continua de tu amigo</h2>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End Menu -->

    <a [routerLink]="'/service'" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>
</body>