<app-header> </app-header>
<!--Formulario flotante de modificar mascota-->
<div class="all-page-title page-breadcrumb">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>Citas</h1>
            </div>
        </div>
    </div>
</div>

<div class="container text-center">
    <br>
    <h1>Modificar Citas</h1>
    <form>
        <div class="row">

            <div class="col-md-12">
                <div class="form-group">
                    <select name="usuario" [(ngModel)]="idUsuarioModificado" class="custom-select d-block form-control" *ngIf="rol === 'Administrador'" (change)="listarMascota()" disabled>
                        <option  *ngFor="let usuario of usuarios" [value]="usuario.id">{{usuario.nombre}}</option>
                    </select>

                    <div class="text-danger" *ngIf="camposObligatorios && validarControles('usuario')">
                        El usuario es obligatorio
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <select name="idMascota" [(ngModel)]="cita.mascota.id" class="custom-select d-block form-control" *ngIf="rol === 'Administrador'" disabled>
                        <option *ngFor="let mascota of mascotas" [value]="mascota.id">{{mascota.nombre}}</option>
                    </select>

                    <div class="text-danger" *ngIf="camposObligatorios && validarControles('mascota') && idUsuario !== undefined">
                        La mascota es obligatorio
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <input name="fecha" [(ngModel)]="cita.fecha" type="date" class="form-control" placeholder="Fecha Cita" *ngIf="rol === 'Administrador'" disabled>
                </div>

                <div class="text-danger" *ngIf="camposObligatorios && validarControles('fecha')">
                    La fecha es obligatoria
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <input name="hora" [(ngModel)]="cita.hora" type="time" step="1" class="form-control" placeholder="Hora Cita" *ngIf="rol === 'Administrador'" disabled>
                </div>

                <div class="text-danger" *ngIf="camposObligatorios && validarControles('hora')">
                    La hora es obligatoria
                </div>
            </div>



            <div class="col-md-12">
                <div class="form-group">
                    <select name="servicio" [(ngModel)]="cita.servicio.id" class="custom-select d-block form-control" *ngIf="rol === 'Administrador'">
                        <option  *ngFor="let servicio of servicios" [value]="servicio.id">{{servicio.nombre}}</option>
                    </select>

                    <div class="text-danger" *ngIf="camposObligatorios && validarControles('servicio')">
                        El servicio es obligatorio
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <select name="estado" [(ngModel)]="cita.estado.id" class="custom-select d-block form-control">
                        <option  *ngFor="let estado of estados" [value]="estado.id">{{estado.nombre}}</option>
                    </select>

                    <div class="text-danger" *ngIf="camposObligatorios && validarControles('estado')">
                        El estado es obligatorio
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <div class="form-group">
                        <textarea name="comentarios" [(ngModel)]="cita.comentario" class="form-control" placeholder="Comentario" rows="4"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <div class="submit-button text-center">
                    <button class="btn btn-common" type="submit" (click)="actualizar()"> Actualizar </button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="submit-button text-center">
                    <button class="btn btn-danger" type="submit" (click)="volver()">
										volver
									</button>
                </div>
            </div>
            <div class="col-md-3"></div>

        </div>
    </form>
</div>
<br>
<br>